<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
<body>
<div ng-app="provider-home" ng-controller="controller">
<h3>Notifications</h3>
<b><ul>
    <li>Painting</li><button ng-click="accept()">Accept</button>          <button ng-click="completed">TASK COMPLETED</button>
    <li>Glass Fitting</li><button ng-click="accept()">Accept</button>     <button ng-click="completed">TASK COMPLETED</button>
    <li>Heater Problem</li><button ng-click="accept()">Accept</button>    <button ng-click="completed">TASK COMPLETED</button>
</ul></b>
<h3>Completed Jobs<h3><br>
<h3>Incomplete Jobs<h3>
</div>

<script>
var app = angular.module('provider-home', ["firebase"]);
app.controller('controller', function($scope) 
{
    var ref = new Firebase("https://sweet-home.firebaseio.com/");
    var authData = ref.getAuth();
    console.log(authData);
    if(authData)
    {
        ref.child("role").child(authData.uid).on("value", function(data) 
        {
            /*if(data.val() != "provider")
            {
                window.location.href = "sweet_home.html";
            }*/
        });
    }
});
</script>
</body>
</html>