<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
<title>Sweet Home</title>
<body>
<b><p>Home Sweet Home</p></b>
<div ng-app="myApp" ng-controller="formCtrl">
  <p><form novalidate>
    Username:<br>
    <input type="text" ng-model="username"><br>
    Password:<br>
    <input type="password" ng-model="password">
    <br><br>
    <button ng-click="login()">login</button>
  </form>
  </p>
</div>

<script>
var app = angular.module('myApp', ["firebase"]);
app.controller('formCtrl', function($scope) {
    $scope.login = function() 
    {
        var ref = new Firebase("https://sweet-home.firebaseio.com/");
        ref.authWithPassword({
        email    : $scope.username,
        password : $scope.password
    }, function(error, authData) 
    {
        if (error) 
        {
            console.log(error);
        }
        else 
        {
            window.location.href = 'sweet_home.html';
        }
    });
    };
});
</script>
</body>
</html>
